<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
  <a class="navbar-brand" href="#">Xe Tải ABC</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav me-auto">
      <li class="nav-item"><a class="nav-link" href="#" onclick="loadPage('index.html')">Trang chủ</a></li>
      <li class="nav-item"><a class="nav-link" href="#" onclick="loadPage('about.html')">Giới thiệu</a></li>
      <li class="nav-item"><a class="nav-link" href="#" onclick="loadPage('contact.html')">Liên hệ</a></li>
    </ul>
  </div>
</nav> -->

  <header class="header">
    <!-- <div class="header-top text-white text-center py-2">
      VƯỢNG ĐOÀN - CHUYÊN CUNG CẤP CÁC DÒNG XE: XE BEN, XE ĐẦU KÉO, XE TẢI, XE
      CHUYÊN DỤNG
    </div> -->

    <div class="header-main">
      <div class="inner-logo">
        <a href="#"><img src="../img/logo-fb.png" alt="Logo" class="me-2" style="height: 60px" /></a>
        <a href="#" class="inner-decs">VƯỢNG ĐOÀN</a>
      </div>

      <!-- Menu d esktop -->
      <nav class="d-none d-md-flex inner-decs">
          <div class="dropdown">
        <button class="btn pulse" onclick="loadPage('index.html')">Trang chủ</button>
        </div>
                <div class="dropdown">
        <button class="btn pulse">Sản phẩm</button>
        <div class="dropdown-content">
          <a href="#" onclick="loadPage('sanpham.html')">Item 1</a>
          <a href="#">Item 2</a>
          <a href="#">Item 3</a>
        </div>
      </div>
         <div class="dropdown">
        <button class="btn pulse" onclick="loadPage('index.html')">Giới thiệu</button>
        </div>
         <div class="dropdown" onclick="loadPage('tintuc.html')">
        <button class="btn pulse">Dịch vụ</button>
        </div>

        <!-- <a href="#" onclick="loadPage('index.html')" class="fw-semibold text-decoration-none inner-tags">TRANG CHỦ</a>
        <a href="#" onclick="loadPage('sanpham.html')" class="fw-semibold text-decoration-none inner-tags">GIỚI THIỆU</a> -->
        <!-- <div class="dropdown-custom"> 
          <a href="#" class="fw-semibold text-decoration-none inner-tags">SẢN PHẨM</a>
          <div class="submenu-custom">
            <a href="#" onclick="loadPage('teraco100s.html')" >Isuzu</a>
            <a href="#">Teraco</a>
            <a href="#">Hyundai</a>
          </div>
        </div> -->
        <!-- <a href="#" class="fw-semibold text-decoration-none inner-tags">DỊCH VỤ</a> -->
      </nav>

      <nav class="d-none d-md-flex inner-icons">
        <ul>
          <li style="--i:#a955ff;--j:#ea51ff">
            <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
            <span class="title">Home</span>
          </li>
          <li style="--i:#56CCF2;--j:#2F80ED">
            <span class="icon"><ion-icon name="videocam-outline"></ion-icon></span>
            <span class="title">Video</span>
          </li>
          <li style="--i:#FF9966;--j:#FF5E62">
            <span class="icon"><ion-icon name="camera-outline"></ion-icon></span>
            <span class="title">Photo</span>
          </li>
          <li style="--i:#80FF72;--j:#7EE8FA">
            <span class="icon"><ion-icon name="share-social-outline"></ion-icon></span>
            <span class="title">Share</span>
          </li>
          <li style="--i:#ffa9c6;--j:#f434e2">
            <span class="icon"><ion-icon name="heart-outline"></ion-icon></span>
            <span class="title">Like</span>
          </li>
        </ul>
      </nav>

      <!-- Button -->
      <!-- <button type="button" class="btn modal-button button-social" data-bs-toggle="modal"
        data-bs-target="#exampleModal">
        Tư vấn ngay
      </button> -->

      <!-- Mobile menu icon -->
      <button class="btn d-md-none button-mobile" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu">
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>
  </header>
